body {
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
}

.container {
    background-color: #464646;
    color: white;
    padding: 20px;
}

.display-container {
    padding: 10px;
    font-size: 30px;
}

.buttons-row {
    display: flex;
    justify-content: center;
}

.buttons-row button {
    width: 55px;
    height: 55px;
    border-radius: 10%;
    font-size: 22px;
}